.idea
*.log
out*.wav
__pycache__

# Make this a symlink, or install somehow.
# If symlink, should be directly importable.
/parallel_wavegan
/pytorch_to_returnn
/returnn

/data
/mb_melgan_models
/returnn_models
